<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="utilities.css" />
    <link rel="stylesheet" href="style.css" class="css" />
  </head>
  <body>
    <!-- header starts -->
    <div class="header d-flex">
      <div>
        <img
          src="https://images.unsplash.com/photo-1425421669292-0c3da3b8f529?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTF8Q1hTRV9RTEotMmN8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=60"
          alt=""
          class="image"
        />
      </div>
      <div id="objective" class="d-column d-flex">
        <h1 style="font-family: cursive">Kairav</h1>
        <small style="font-size: large">A Keen learner</small>
        <br />
        <small style="font-size: large; font-family: cursive"
          >Looking to take advantage of my skills in the industry</small
        >
      </div>
      <div id="links" class="d-column d-flex">
        <a
          href="https://github.com/Karankewalramani?tab=repositories"
          target="_blank"
          >https://github.com/Karankewalramani
          <img src="images/github.jpg" alt="" class="icon" />
        </a>
        <a href="https://www.linkedin.com/feed/" 
           target="_blank">
          https://linkedin.com/Karankewalramani
          <img src="images/linkedin.png" alt="" class="icon"/>
        </a>
      </div>
    </div>
    <!-- header ends -->

    <!-- info starts -->
    <hr />
    <div class="info d-flex">
      <img src="images/mobile.jpg" class="icon" alt="" />
      <span>(738)-745-6890</span>
      <img src="images/email.jpg" class="icon" alt="" />
      <span>kairav2023@example.com</span>
    </div>
    <hr />

    <!-- main section -->
    <div class="main d-flex">
      <!-- column 1 -->
      <div class="col-auto">
        <!-- education starts -->
        <div class="education">
          <h2 style="font-family: cursive">EDUCATION</h2>
          <div>
            <h3 style="font-family: 'Times New Roman', Times, serif">
              B.E Computer Engineering (sem I - sem VII) 2021
            </h3>
            <p>VESIT ,Chembur</p>
            <div class="text-muted education-footer d-flex">
              <i>08/2021 - 06/2025</i>
              <i>CGPA: 9.15</i>
            </div>
          </div>

          <div>
            <h3 style="font-family: 'Times New Roman', Times, serif">
              B.E Computer Engineering (sem I - sem VII) 2021
            </h3>
            <p>VESIT ,Chembur</p>
            <div class="text-muted education-footer d-flex">
              <i>08/2021 - 06/2025</i>
              <i>CGPA: 9.15</i>
            </div>
          </div>

          <div>
            <h3 style="font-family: 'Times New Roman', Times, serif">
              B.E Computer Engineering (sem I - sem VII) 2021
            </h3>
            <p>VESIT ,Chembur</p>
            <div class="text-muted education-footer d-flex">
              <i>08/2021 - 06/2025</i>
              <i>CGPA: 9.15</i>
            </div>
          </div>
        </div>
        <!-- education ends -->

        <!-- skills start -->
        <hr />
        <div class="skills">
          <h2>TECHNICAL SKILLS</h2>
          <ul
            style="font-family: Georgia, 'Times New Roman', Times, serif"
            class="d-flex"
          >
            <li>Java</li>
            <li>Python</li>
            <li>C</li>
            <li>Linux</li>
            <li>PHP</li>
            <li>C++</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
        </div>
        <!-- skills ends -->

        <!-- tools starts -->
        <hr />
        <div class="tools">
          <h2>TOOLS</h2>
          <ul
            style="font-family: Georgia, 'Times New Roman', Times, serif"
            class="d-flex"
          >
            <li>Github</li>
            <li>Netbeans</li>
            <li>Xampp</li>
          </ul>
        </div>
        <!-- tools ends -->

        <!-- frameworks starts -->
        <hr />
        <div class="frameworks">
          <h2>FRAMEWORKS</h2>
          <ul
            style="font-family: Georgia, 'Times New Roman', Times, serif"
            class="d-flex"
          >
            <li>Angular</li>
            <li>Spring Boot</li>
            <li>Django</li>
            <li>Tkinter</li>
            <li>Java Swings</li>
          </ul>
        </div>
        <hr />
        <!-- frameworks ends -->
        <!-- Cocurricular starts -->
        <h2>COCURRICULAR ACTIVITIES</h2>
        <div
          class="Cocurricular"
          style="font-family: 'Times New Roman', Times, serif"
        >
          <ul>
            <li>
              Best Paper Award for hateful Memes.offensive or NonOffensive in
              4th INTERNATIONAL CONFERENCE ON COMMUNICATION(ICICC 2023).
            </li>
            <li>
              Winner of Ode To Code '22 (an intra college hackathon) organized
              by committees of college(ISTE and CSI).
            </li>
            <li>
              Winner in codeo, a coding competition organized by college in an
              annual college event, PRAXIS'22.
            </li>
            <li>
              Runner up in VESIT HAcks (an intra college hackathon) PRAXIS'22 an
              annual college event.
            </li>
            <li>
              Winner of techtrix, a technical event organized by a committee
              (ISTE)
            </li>
            <li>Oracle Database Programming SQL Certification.</li>
          </ul>
        </div>

        <!-- Cocurricular ends -->
      </div>
      <!-- column 1 ends -->

      <!-- column 2 starts -->
      <div class="col-auto">
        <div class="projects" id="wrap">
          <h2 style="font-family: cursive;">PERSONAL PROJECTS</h2>
          <dl>
            <dt style="font-family: 'Times New Roman', Times, serif">Secutrity Master -Full stack Securities Repository -Angular</dt>
            <dd>
              Developed a web-based system to display and save the security
              informationfor a hedge fund.Maintained data for security fields
              necessary for various purpose which can be identifiers,reference
              data etc. with exile file.functionality as well
            </dd>
          </dl>
          <dl>
            <dt style="font-family: 'Times New Roman', Times, serif">ECOMMERCE - Angular,HTML,CSS,Bootstrap,SpringBoot</dt>
            <dd>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse
              expedita quidem rem sint quasi voluptatem quis culpa adipisci
              aspernatur, cumque eveniet fuga nulla doloremque eaque reiciendis.
              Eaque corporis placeat autem. Laboriosam aliquam ad molestias
              perspiciatis, deleniti tempore dolorem velit quisquam dolor odio
              numquam accusamus atque quod nisi est dicta quaerat!
            </dd>
          </dl>
          <dl>
            <dt style="font-family: 'Times New Roman', Times, serif">Secutrity Master -Full stack Securities Repository -Angular</dt>
            <dd>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse
              expedita quidem rem sint quasi voluptatem quis culpa adipisci
              aspernatur, cumque eveniet fuga nulla doloremque eaque reiciendis.
              Eaque corporis placeat autem. Laboriosam aliquam ad molestias
              perspiciatis, deleniti tempore dolorem velit quisquam dolor odio
              numquam accusamus atque quod nisi est dicta quaerat!
            </dd>
          </dl>
          <dl>
            <dt style="font-family: 'Times New Roman', Times, serif">Secutrity Master -Full stack Securities Repository -Angular</dt>
            <dd>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse
              expedita quidem rem sint quasi voluptatem quis culpa adipisci
              aspernatur, cumque eveniet fuga nulla doloremque eaque reiciendis.
              Eaque corporis placeat autem. Laboriosam aliquam ad molestias
              perspiciatis, deleniti tempore dolorem velit quisquam dolor odio
              numquam accusamus atque quod nisi est dicta quaerat!
            </dd>
          </dl>
          <dl>
            <dt style="font-family: 'Times New Roman', Times, serif">Secutrity Master -Full stack Securities Repository -Angular</dt>
            <dd>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse
              expedita quidem rem sint quasi voluptatem quis culpa adipisci
              aspernatur, cumque eveniet fuga nulla doloremque eaque reiciendis.
              Eaque corporis placeat autem. Laboriosam aliquam ad molestias
              perspiciatis, deleniti tempore dolorem velit quisquam dolor odio
              numquam accusamus atque quod nisi est dicta quaerat!
            </dd>
          </dl>
        </div>
      </div>
      <!-- column 2 ends -->
    </div>
    <!-- main section ends -->
  </body>
</html>
