.d-flex{
    display: flex;
    flex-direction: row;
}
.icon{
    width: 30px;
    height:25px;   
}
.image{
    width: 200px;
    height: 200px;
}
.d-column{
    flex-direction: column;
}
.text-muted{
    color: #777;
}
